<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../public/js/fontsizeset.js"></script>
    <!-- <script src="../public/js/vue.js"></script> -->
</head>
<meta name="viewport" content="width=device-width">
<body>
    <!-- 大盒子 -->
    <div id="big_tree">
        成功
    </div>
    <script src="../public/js/addto.js"></script>

</body>
</html>