<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>忘记密码</title>
    <link rel="stylesheet" href="/public/css/password.css">
    <script src="/public/js/fontsizeset.js"></script>
    <script src="/public/js/wzf_pass&rag.js"></script>
</head>
<body>
    <div class="whole">
        <div class="header-">
            <img class="header_statusbar" src="../public/images/状态栏.png" alt="">
                <a href="/">
                    <img class="header_ico" src="../public/images/Return.png" alt="">
                </a>
            <p class="header_title">忘记密码</p>
        </div>
        <div class="container">
            <form action="/ok" method="get" onsubmit="return checkForm()">
                <div class="container_input">
                    <p class="container_input_p" id="sj">手机</p>
                    <input class="container_input_inputbox" type="text" placeholder="请输入手机号" id="uid"><span id="uidt"></span>
                </div>
                <div class="container_input_in">
                    <p class="container_input_p" id="yz">验证码</p>
                    <input class="container_input_inputbox_in" type="text" placeholder="请输入验证码" id="yanzheng"><span id="yan"></span>
                    <a class="container_input_in_link" href="#" id="btn" onclick="yzheng()">获取验证码</a>
                </div>
                <div class="container_input_bottom">
                    <p class="container_input_p" id="mm">密码</p>
                    <input class="container_input_inputbox" type="text" placeholder="请输入密码" id="mima"><span id="mi"></span>
                </div>
                <input class="container_register" type="submit" value="确定">
        </div>
    </div>
        </div>
    </div>
</body>
</html>