<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>第二题</title>
    <script src="script/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newFw">
        <button v-on:click="btn">添加</button>
        <ul>
            <li v-for="(val,index) in fs">
                {{val}}
                <span v-on:click="del(index)">删除</span>
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                fs:["香蕉","苹果"],
                newFw:""
            },
            methods:{
                del:function(index){
                    this.fs.splice(index,1)
                },
                btn:function(){
                    this.fs.push(this.newFw)
                }
            }
        })
    </script>
</body>

</html>